+++
title = "Statiko"
linkTitle = "Statiko"
+++

{{< blocks/cover title="Host, serve and manage static web apps in production" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ItalyPaleAle/Statiko">
		Source <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5" style="text-shadow: 1px 1px 0px #2C2C2C;">Self-hosted, free and open source platform that works alongside nginx.<br/>Designed for high-availability and geo-replication.</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Statiko was born to bring convenience to hosting, serving and managing static web apps, including JAMstack apps, working alongside the nginx web server.

Statiko enables apps to be brought to production conveniently, and it's designed to support scenarios that require high-availability and even geo-replication.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-tools" title="Self-host anywhere" %}}
Statiko runs on any Linux server or on Kubernetes, and nodes can be on any cloud or on-premises.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-fire-alt" title="Ready for your PWA" %}}
With full control on response headers, redirects, clean URLs, you can serve Progressive Web Apps (PWA) efficiently with Statiko.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cogs" title="Works with nginx" %}}
Statiko works as a sidecar for the popular nginx web server, which is fast, reliable and secure. Statiko manages nginx's configuration dynamically so you don't have to.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-rocket" title="DevOps-enabled" %}}
Statiko nodes can be managed remotely via REST APIs and with the **_stkcli_ utility**, and it's designed to be used in CI/CD pipelines.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-globe" title="Highly-Availabile apps" %}}
Deploy multiple Statiko nodes to achieve High-Availability for your apps, with support for geo-distributed deployments too.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-scroll" title="Free software" %}}
Statiko is free software, released under GNU Affero GPL. Written in Go, the source code is available on GitHub.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h2 class="text-center">Read the <a href="{{< relref "/docs" >}}">Documentation</a> to get started</h2>
</div>
{{< /blocks/section >}}
